*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'poppins',sans-serif;
}
.container{
    margin: auto;
    max-width: 1348px;
    padding-right: 25px;
    padding-left: 25px;
}
.nav{
    display: flex;
    height: 50px;
    padding: 20px;
    align-items: center;
    margin: 0 0 25px 0;
}
.navigation{
    flex: 1;
    text-align: right;
}
.navigation ul{
    list-style-type: none;
    display: inline-block;
}
.navigation ul li{
    display: inline-block;
    margin-right: 18px;
}
.navigation ul li a:hover{
    color: rgb(241, 6, 249);
}
a{
    text-decoration: none;
    color:grey;
}
.row{
    display: flex;
    margin: 30px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
p{
    color: rgb(172, 142, 142);
}
.col1{
    flex-basis: 50%;
    min-width: 300px;
}
.col1 img{
    max-width: 100%;
    padding: 50px 0 50px 0;
}
.col1 h2{
    font-size: 50px;
    line-height: 60px;
    font-style: oblique;
    margin: 20px 0 ;
}
.btn{
    display: inline-block;
    color: white;
    background: rgb(146, 6, 134);
    padding: 8px 30px;
    margin: 10px 0;
    border-radius: 30px;
}
.btn:hover{
    background-color:rgb(99, 4, 102) ;
    transition:0.6s;
    color: rgb(114, 112, 112);
    transform: translateY();

}
.color{
    background: radial-gradient(#fff ,#e161ec);

}
.color .row{
    margin-top: 70px;
}
.categories{
    margin: 70px 0;
}
.col3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col3 img{
    width: 100%;
}
.smallcontainer{
max-width: 1080px;
margin: auto;
padding-left: 25px;
}
.col4{
flex-basis: 25%;
padding: 10px;
min-width: 200px;
margin-bottom: 25px;
transition: 0.5s;
}
.col4 img{
    width: 100%;
}
.title{
    position: relative;
    text-align: center;
    margin: 0 auto 80px;
    line-height: 50px;
    color: #524253;
    
}
.title::after{
    content: ' ';
    background-color: rgb(194, 10, 154);
    border-radius: 5px;
    position: absolute;
    height: 5px;
    width: 80px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: rgb(172, 142, 142);
    font-weight: normal;
     
}
.col4 p{
    font-size: 14px;
}
.rating .fa-star , .fa-solid{
   color:  rgb(194, 10, 154);
}
.col4:hover{
    transform: translateY(-5px);
    box-shadow: #e161ec;
}
.offer{
    background:radial-gradient(#fff ,#e161ec);
    margin-top: 80px;
    padding: 30px 0;
}
.col1 .img-offer{
    padding: 50px;
    
}
/* testimonial */
.testimonial{
    padding-top: 100px;
    

}
.testimonial .col3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0px 0 10px 0 rgba(230, 8, 200, 0.568);
    cursor: pointer;
    transition:0.5s;
}
.testimonial .col3 img{
    width: 50px;
    border-radius: 50%;
    margin-top: 20px;
}
.testimonial .col3:hover{
    transform: translateY(-8px);

}
.testimonial .col3 #image{
    width: 50px;
    height: 65px;
}
.fa-quote-left{
    font-size: 34px;
    color: #e161ec;
}
.col3 p{
    font-size: 12px; 
    margin: 12px 2px;
    color: rgba(199, 56, 228, 0.767) ;
}
.testimonial .col3 h3{
    line-height: 24px;
    font-size: 16px;
    color:  #b5b5b5;;
    
}
/* footer  */
.footer{
    background-color: black;
    color: #b5b5b5;;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #b5b5b5;;
}
.footer h3{
    color: white;
    margin-bottom: 20px;
}
.fcol1 ,.fcol2 ,.fcol3 ,.fcol4{
min-width: 250px;
margin-bottom: 20px;
}
.fcol1{
    flex-basis: 30%;
    max-height: 250px;
}
.fcol2{
    text-align: center;
    flex: 1;
}
.fcol2 img{
    width: 60px;
    margin-bottom: 20px;
}
.fcol3,.fcol4{
    flex-basis: 12%;
    text-align: center;
    margin-top: 1px;
    max-height: 250px;

}
ul{
    list-style-type: none;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 3px;
    margin: 20px 0;
}
.app-logo{
   margin-top: 20px;
}
.app-logo img{
    width: 140px;
    margin: 10px 0;

}
.copyright{
    font-weight: bold;
    text-align: center;
}
.fcol4 .fa-brands, .fa-regular{
    font-size: 20px;
    margin: 4px;
    cursor: pointer;
}
.fcol4 .fa-facebook{
    color: blue;
}
.fcol4 .fa-x{
color: rgb(129, 125, 125);
}
.fcol4 .fa-telegram{
color: rgb(0, 210, 238);
}
.fcol4 .fa-youtube{
    color: red;
}
.fcol4 .fa-regular{
color: green;
}
.menu{
    width: 30px;
    margin-left: 20px;
    display: none;
}

/* --------------products page---------------- */
.row2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 2px groove rgb(190, 187, 190);
    border-radius: 5px;
    padding: 3px;
    text-align: center;
}
select:focus{
    outline: none;
}
.page-btn{
margin:0 auto 80px;
 
}
.page-btn span{
    margin-left: 10px;
    cursor:pointer;
    border: 1px solid rgb(126, 15, 116);
    height: 20px;
    width: 30px;
    padding: 5px;
    line-height: 10px;
    text-align: center;
    display: inline-block;
    transition: 0.3s;

}
.page-btn span:hover{
    box-shadow: 0px 0 8px 0 green;
    color: white;
    background: #e161ec;

}
/* --------- single products ------------ */

.single-product{
    margin-top: 60px;
} 
.single-product .col1 img{
   padding: 0;
}
.single-product .col1{
    padding: 30px;
}
.single-product h3{
    margin: 20px 0;
    font-size: 20px;
    font-weight: bold;
}
.single-product select{
    display: block;
    padding: 8px;
    margin-bottom: 10px;
    width: 100px;
}
.single-product select option{
    background: #7c128670;
    
}
.single-product input{
    padding: 8px;
    width: 50px;
    border: 2px groove rgb(190, 187, 190);
    border-radius: 5px;
    text-align: center;
    margin-right: 40px;
}
.single-product input:focus{
    outline: none;
}
.single-product .fa-indent{
margin-left: 10px;
color: #7d1286;

}
.small-row{
    display: flex;
    justify-content: space-between;
}
.small-col{
    flex-basis: 24%;
    cursor: pointer;
    margin: 10px;
}
.small-row img{
height: 80px;
box-shadow: 0 0 5px 0 rgb(171, 10, 211);
}
.small-col h3{
    font-size: 12px;
    text-align: center;
    display: inline;
}
/* --------cart items---------- */
.cart{
    margin: 80px auto;
}
table{
    /* border: 2px solid gray;
    padding: 9px; */
    width: 100%;
    border-collapse: collapse;
}
.info{
display: flex;
flex-wrap: wrap;
}
th{
    margin-right: 5px;
    text-align: left;
    padding: 10px;
    color: white;
    background: #bc5dc5b4;
    font-weight: normal;
    font-size: 20px;
}
td{
    padding: 12px 5px;
}
td input{
    border: 2px groove rgb(190, 187, 190);
    width: 40px;
    height: 30px;
    text-align: center;
    padding: 5px;
}
td input:focus{
    outline: none;
}
td a{
    color: rgb(211, 12, 12);
}
td p,td small,td a{
    line-height: 20px;
}
td img{
    width: 80px;
    height: 80px;
    padding: auto 5px;
}
.total-price{
    display: flex;
    justify-content: flex-end;

}
.total-price table{
    border-top: 2px groove#bc5dc5b4;
    width: 100%;
    max-width: 400px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}

/* -----------account-page------------- */
.account-page{
   padding: 50px 0;
   background:radial-gradient(#fff ,#e161ec);

}
.form-container{
    background-color: white;
    width: 350px;
    height: 400px;
    position: relative;
    box-shadow: 0 0 20px 0 grey;
    text-align: center;
    overflow: hidden;
    transition: all .3s ease-in-out;
}
.form-container span{
    display:inline-block ;
    padding: 5px 20px;
    cursor: pointer;
    font-weight: bold;
    width: 100px;
    color: #524253;
}
.formbtn{
    padding: 30px 0;
    display: inline-block;
}
.form-container form{
    padding: 0 20px;
    max-width: 350px;
    position: absolute;
    top: 100px; 
}

.form-container input{
    width: 100%;
    height: 30px;
    border: 1px groove grey;
    margin: 10px 0;
    font-size: 16px;
    padding: 1rem 0.5rem; 
    border-radius: 5px;
}
.form-container label{
    width: 100%;
    margin-right: 4px;
    display: inline-block;
    text-align: left;
    font-weight: bold;
}
form div{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
form .btn{
    width:100% ;
    padding: 12px 0;
    margin: 15px 0;
    cursor: pointer;
    border: none;
}
form .btn:focus{
    outline: none;
}
.loginform{
    width: 100%;
    left: 100%;
    transition: all .3s linear;
}
.regform{
    width: 100%;
    right: 0%;
    transition: all .3s linear;
}
.signin-signup-btn{
    font-weight: bold;
    font-size: 18px;
}
#indicate{
    border: none;
    background: #7d1286;
    height: 3px;
    width: 50%;
    margin-top: 12px;
    transition: all .3s linear;
}
.indicate{
    margin-left: 50%;
}
.indicate-active{
    margin-left: 0px;
}





/* -------media query for menu----------- */
@media only screen and (max-width :800px){
    
    .navigation ul{
        position: absolute;
        background: #000000a2;
        top: 60px;
        left: 0;
        min-width: 100%;
        overflow: hidden;
        transition: 0.5s;
        text-align: right;

        
        }
    .menu{
        display: block;
        cursor: pointer;
    }
    .navigation ul li{
        display: block;
        padding: 0 10px;
        margin-top: 10px;
        margin-right: 50px;
        margin-bottom: 12px;
        line-height: 25px;
        
    }
    .navigation ul li a{
        color: white;
    }
    .navigation ul li a:hover{
        color:grey;
    }
   
}
/* ---------media query for devices les than 600px--------- */
@media only screen and (max-width :600px){
    .row{
        align-items: center;
        text-align: center;.navigation ul li a
    }
    .col1,.col3,.col4{
        flex-basis: 100%;
    }
    .single-product .row{
        text-align: left;
    }
    .single-product .col{
        padding: 10px auto;
    }
    .single-product h1{
        font-size: 22px;
        line-height: 36px;
    }
    .info p{
        display: none;
    }
}
